// Body
$body-bg: #f8fafc;
$content-bg: #F4F6F8;
$text-color-blue: #7ca3ff;
$text-color-black: #393939;
$color-blue: #1958f7;
$color-red: #FF3F3F;


// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
