@use "../variables.scss" as *;
//ESTILOS GLOBALES PARA EL PROYECTO

//ICONOS
.fa-trash{
    color: #777777;
    font-size: 18px;
    transition: all 200ms;
    cursor: pointer;
    &:hover{
        color: #dc3545;
    }
}
.fa-pen-to-square{
    color: #777777;
    font-size: 18px;
    transition: all 200ms;
    cursor: pointer;
    &:hover{
        color: $color-blue;
    }
}
//BOTONES PRINCIPALES
.btn-primary {
    border-radius: 100px;
    padding: 10px 24px;
    font-weight: 500;
    background-color: $color-blue;
}
.btn-danger {
    border-radius: 100px;
    padding: 10px 24px;
    font-weight: 500;
    border: none;
    background-color: $color-red;
    transition: all 200ms;
}
.btn-danger:hover {
    background-color: #fb2626;
}

//INPUSTS
select {
    .option-default {
        color: #6c757d;
    }
}
.form-control {
    border-radius: 10px;
    background-color: #dfdfdf;
    color: #000000;
    border: none;
}
.inputs-content {
    margin-top: 24px;
}
.inputs {
    display: flex;
    gap: 12px;
    margin-bottom: 12px;
}

label {
    color: $text-color-black;
    font-size: 14px;
    font-weight: 500;
}
h2 {
    color: $text-color-black;
    font-size: 24px;
    margin-bottom: 0px;
    font-weight: 500;
    i {
        color: $color-blue;
        font-size: 28px;
    }
}
.container-content {
    padding: 20px;
    width: 80%;
    margin-left: 19%;
    @media screen and (max-width: 1269px) {
        width: 76%;
        margin-left: 25%;
    }
    @media screen and (max-width: 1026px) {
        width: 73%;
        margin-left: 27%;
    }

    @media screen and (max-width: 942px) {
        width: 72%;
        margin-left: 28%;
    }
    @media screen and (max-width: 906px) {
        width: 71%;
        margin-left: 29%;
    }
    @media screen and (max-width: 904px) {
        width: 100%;
        margin-left: 0%;
        margin-top: 72px;
        padding: 20px 16px;
    }
}
.content-title {
    padding: 24px;
    background-color: $content-bg;
    border-radius: 20px;
    margin-bottom: 24px;
    p {
        margin-bottom: 0px;
        color: $text-color-blue;
    }
}
.content-stadisticts {
    margin-bottom: 24px;
    justify-content: space-between;
    .card {
        background-color: $content-bg;
        border-radius: 20px;
        padding: 24px;
        border: none;
        width: 23.4%;
        margin-right: 24px;
        &:last-child {
            margin-right: 0px;
        }
        h3 {
            font-size: 16px;
            font-weight: 500;
            margin-bottom: 0px;
            margin-right: 12px;
            color: $text-color-black;
        }
        .fa-up-right-from-square {
            font-size: 12px;
            color: $text-color-blue;
            background-color: #e5edff;
            font-size: 14px;
            padding: 6px;
            color: #1958f7;
            border-radius: 4px;
            transition: all 200ms;
            cursor: pointer;
            &:hover {
                background-color: #c7cede;
            }
        }
        .fa-chart-simple {
            color: #00ff66;
            background-color: #d2ffe4;
            padding: 9px;
            border-radius: 100px;
            margin-top: 4px;
            margin-right: 6px;
            font-size: 24px;
        }
        .fa-users {
            color: #ff00a1;
            background-color: #ffdef3;
            padding: 9px 8px;
            border-radius: 100px;
            margin-top: 4px;
            margin-right: 6px;
            font-size: 24px;
        }
        span {
            font-size: 36px;
            font-weight: 700;
            color: #000;
            line-height: 36px;
        }

        @media screen and (max-width: 1304px) {
            margin-right: 0px;
            width: 49%;
            margin-bottom: 24px;
        }
        @media screen and (max-width: 508px) {
            margin-right: 0px;
            width: 100%;
            margin-bottom: 24px;
        }
    }

    @media screen and (max-width: 1304px) {
        flex-wrap: wrap;
        margin-bottom: 0px;
    }
}
.table-container {
    background-color: $content-bg;
    border-radius: 20px;
    padding: 24px;
    border: none;
    margin-bottom: 24px;
    table {
        thead {
            tr {
                color: #fff;
                text-align: center;
                th {
                    background-color: $color-blue;
                    border: none;
                    &:first-child {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }
                    &:last-child {
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                }
            }
        }
        tbody {
            tr {
                text-align: center;
                border-radius: 20px;
                &:nth-child(2n) {
                    background-color: #eeeeee;
                }
                &:hover {
                    background-color: #eaeaea;
                }
                td {
                    padding: 16px 10px;
                    border: none;
                    &:first-child {
                        border-top-left-radius: 10px;
                        border-bottom-left-radius: 10px;
                    }
                    &:last-child {
                        border-top-right-radius: 10px;
                        border-bottom-right-radius: 10px;
                    }
                }
            }
        }
    }
    @media screen and (max-width: 1228px) {
        .content-table {
            overflow-x: scroll;
            table {
                width: 1100px;
            }
        }
    }
}
.filters label {
    font-weight: 500;
    font-size: 14px;
}
.data-clients {
    border-radius: 20px;
    border: none;
    margin-bottom: 24px;
    h3 {
        font-size: 16px;
        font-weight: 500;
        margin-bottom: 0px;
        margin-right: 12px;
        color: $text-color-black;
    }
}
